<p>"Sonic the Hedgehog is a platform game developed by Sonic Team and published by Sega for the Sega Genesis home
    video game console. The first game in the Sonic the Hedgehog franchise, it was released in North America in June
    1991 and in PAL regions and Japan the following month. The game features Sonic the Hedgehog, who runs supersonic
    speeds, sets on a quest to defeat Dr. Robotnik, a scientist who has imprisoned animals in robots and stolen the
    powerful Chaos Emeralds. The gameplay involves collecting rings as a form of health, and a simple control scheme,
    with jumping and attacking controlled by a single button.

    Development began in 1990 when Sega ordered its developers to create a game featuring a mascot for the company.
    After considering a number of suggestions, the developers decided on a blue hedgehog and named themselves "Sonic
    Team" to match their character. Sonic the Hedgehog, designed for fast gameplay, was influenced by games by Super
    Mario series creator Shigeru Miyamoto. Sonic the Hedgehog uses a novel technique that allows Sonic's sprite to roll
    along curved scenery, which originated in a tech demo created by programmer Yuji Naka. The music was composed by
    Masato Nakamura, songwriter of the J-pop band Dreams Come True.

    Sonic the Hedgehog was well received by critics, who praised its visuals, audio, and gameplay. It was also
    commercially successful, establishing the Genesis as a key player in the 16-bit era and allowing it to compete with
    Nintendo's Super Nintendo Entertainment System console. The game has been ported a number of times, and inspired
    several clones, a successful franchise, and adaptations into other media."</p>

    <a href="https://en.wikipedia.org/wiki/Sonic_the_Hedgehog_(1991_video_game)">Source</a>