<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>

<body>

    <h1 class="edit">Edit Comment</h1>
    {% if comment %} {% for comment in comments %}
    <h3>{{ comment }}</h3>
    {% endfor %} {% endif %}
    <form action="/modify-comment" method="post">
        {% csrf_token %}
        <textarea name="comment_text" id="" cols="30" rows="10">
        {{ comment.text }}
    </textarea>
        <input type="hidden" name="comment_id" value="{{ comment.id }}" />
        <button>Edit comment</button>
    </form>

</body>

</html>