<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="wallpaper">

    {% include 'partials/nav.html' %}

    <h2 class="profile">User Profile</h2>
    <div class="container">
        <p>Welcome {{ request.session.alias }}!</p>
        <!-- User has an option to upload pictures for their profile. -->
        <h2>Add image:</h2>
        <form action="/add-image" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="image">
            <input type="submit">
        </form>
    </div>

    <hr />

    <div class="container py-5">
        <h3>Images:</h3>
        {% for image in images %}
        <img src="{{ image.file.url }}" alt="">
        {% endfor %}
    </div>

</body>

</html>